<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:/temp/Xposrt/InnerLog.txt"
      >

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="C:/temp/Xposrt/file_log.txt" />

    <target name="logfileError" xsi:type="File"
           fileName="C:/temp/Xposrt/fileError_log.txt" />
  </targets>

  <rules>
    <logger name="*" maxlevel="Info" writeTo="logfile" />
    <logger name="*" maxlevel="Debug" writeTo="logfile" />
    <logger name="*" maxlevel="Fatal" minlevel="Warn"  writeTo="logfileError" />

  </rules>
</nlog>